@import "dmvendor.css";

@font-face{
    font-family: AritaHeiti;
    src: local('Noto Sans CJK SC'),url("../fonts/AritaHeiti-Medium.woff2");
    font-weight: 400;
}



*{
    font-family: dm,AritaHeiti,"Noto Sans CJK SC",sans-serif !important;
}